# Pandas
O pandas é um pacote Python que fornece estruturas de dados rápidas, flexíveis e expressivas, projetadas para tornar o trabalho com dados “relacionais” ou “rotulados” fáceis e intuitivos. 

###### Link da documentação do pandas para mais informações: https://pandas.pydata.org/pandas-docs/stable/api.html#dataframe

In [1]:
import pandas as pd

In [2]:
import numpy as np

# Série
Série é um array de uma dimensão

In [3]:
pd.Series([1,3,5,np.nan,6,8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

# DataFrame
DataFrame uma matriz

In [4]:
pd.DataFrame([[6, 2, np.nan, 3],                   
             [np.nan, 3, 4, 8],
             [9, np.nan, 1, 5],
             [1, 3, 5, 0]],
            )

     0    1    2  3
0  6.0  2.0  NaN  3
1  NaN  3.0  4.0  8
2  9.0  NaN  1.0  5
3  1.0  3.0  5.0  0

# Lendo arquivo CSV
Para ler tabelas em arquivos CSV usasse o .read_csv(arquivo.csv, names= nomes das colunas) 

Nomes das colunas são os nomes que representam aqueles dados. No exemplo a seguir os dados contém informações sobre flores.

Lembrando que esse arquivo tem que estar na mesma pasta onde você esta desenvolvendo o algoritmo e que pode-se ler outros formatos de arquivo.

###### Link do dataset Iris : https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

In [27]:
nomesColunas = ['comprimento da sepala','largura da sepala','comprimento da petala', 'largura da petala','tipo de flor']
df = pd.read_csv('iris.csv', names=nomesColunas)

# Funções de representação e visualização dos dados

##### df.head(n) 
retorna as n primeiras linhas

In [28]:
df.head(10)

,comprimento da sepala,largura da sepala,comprimento da petala,largura da petala,tipo de flor
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

##### df.shape 
retorna uma tupla com as dimensoes do df

In [29]:
df.shape

(150, 5)

##### df.loc[ "rotulos" ] 
mostra as informaçãoes que contem os rótulos passados.

In [30]:
df.loc[(df['tipo de flor'] == "Iris-setosa") & (df['comprimento da petala'] == 1.4)]

,comprimento da sepala,largura da sepala,comprimento da petala,largura da petala,tipo de flor
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
45,4.8,3.0,1.4,0.3,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa

###### pode-se fazer assim também, que mostra apenas as colunas que você quer

In [35]:
df.loc[(df['tipo de flor'] == "Iris-setosa") & (df['comprimento da petala'] == 1.4), ['tipo de flor', 'comprimento da petala']]

   tipo de flor  comprimento da petala
0   Iris-setosa                    1.4
1   Iris-setosa                    1.4
4   Iris-setosa                    1.4
6   Iris-setosa                    1.4
8   Iris-setosa                    1.4
12  Iris-setosa                    1.4
17  Iris-setosa                    1.4
28  Iris-setosa                    1.4
33  Iris-setosa                    1.4
45  Iris-setosa                    1.4
47  Iris-setosa                    1.4
49  Iris-setosa                    1.4

##### df.drop(labels = None, axis = 0, columns = None) onde 
    
    - labels é o indice ou o nome que quer excluir
    - axis representa se quer mexer com as linhas (axis=0) ou colunas (axis=1)
    - columns é as colunas que quer excluir ex: df.drop(columns = [ 'B' ,  'C' ])

Retorna a tabela com colunas ou linhas excluidas

Lembrando que existem mais parametro nessa função!!!

In [36]:
df = df.drop('tipo de flor', axis=1) 
df.head(10)

,comprimento da sepala,largura da sepala,comprimento da petala,largura da petala
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
5,5.4,3.9,1.7,0.4
6,4.6,3.4,1.4,0.3
7,5.0,3.4,1.5,0.2
8,4.4,2.9,1.4,0.2
9,4.9,3.1,1.5,0.1

##### df.min() 
retorna o menor valor do df

In [37]:
df.min()

comprimento da sepala    4.3
largura da sepala        2.0
comprimento da petala    1.0
largura da petala        0.1
dtype: float64

##### df.max() 
retorna o maior valor do df

In [12]:
df.max()

comprimento da sepala    7.9
largura da sepala        4.4
comprimento da petala    6.9
largura da petala        2.5
dtype: float64

##### df.describe() 
retorna um resumo estatístico

In [13]:
df.describe()

,comprimento da sepala,largura da sepala,comprimento da petala,largura da petala
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

##### df.info()

Imprime um resumo conciso do DataFrame

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
comprimento da sepala    150 non-null float64
largura da sepala        150 non-null float64
comprimento da petala    150 non-null float64
largura da petala        150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB

##### df.dtypes

Retorna os tipos de dados de cada coluna.

In [43]:
df.dtypes

comprimento da sepala    float64
largura da sepala        float64
comprimento da petala    float64
largura da petala        float64
dtype: object

##### df.corr ( )

Computa a correlação paritária de colunas, excluindo valores NA / null

In [49]:
df.corr

<bound method DataFrame.corr of      comprimento da sepala  largura da sepala  comprimento da petala  \
0                      5.1                3.5                    1.4
1                      4.9                3.0                    1.4
2                      4.7                3.2                    1.3
3                      4.6                3.1                    1.5
4                      5.0                3.6                    1.4
5                      5.4                3.9                    1.7
6                      4.6                3.4                    1.4
7                      5.0                3.4                    1.5
8                      4.4                2.9                    1.4
9                      4.9                3.1                    1.5
10                     5.4                3.7                    1.5
11                     4.8                3.4                    1.6
12                     4.8                3.0                    1.4
13                     4.3                3.0                    1.1
14                     5.8                4.0                    1.2
15                     5.7                4.4                    1.5
16                     5.4                3.9                    1.3
17                     5.1                3.5                    1.4
18                     5.7                3.8                    1.7
19                     5.1                3.8                    1.5
20                     5.4                3.4                    1.7
21                     5.1                3.7                    1.5
22                     4.6                3.6                    1.0
23                     5.1                3.3                    1.7
24                     4.8                3.4                    1.9
25                     5.0                3.0                    1.6
26                     5.0                3.4                    1.6
27                     5.2                3.5                    1.5
28                     5.2                3.4                    1.4
29                     4.7                3.2                    1.6
..                     ...                ...                    ...
120                    6.9                3.2                    5.7
121                    5.6                2.8                    4.9
122                    7.7                2.8                    6.7
123                    6.3                2.7                    4.9
124                    6.7                3.3                    5.7
125                    7.2                3.2                    6.0
126                    6.2                2.8                    4.8
127                    6.1                3.0                    4.9
128                    6.4                2.8                    5.6
129                    7.2                3.0                    5.8
130                    7.4                2.8                    6.1
131                    7.9                3.8                    6.4
132                    6.4                2.8                    5.6
133                    6.3                2.8                    5.1
134                    6.1                2.6                    5.6
135                    7.7                3.0                    6.1
136                    6.3                3.4                    5.6
137                    6.4                3.1                    5.5
138                    6.0                3.0                    4.8
139                    6.9                3.1                    5.4
140                    6.7                3.1                    5.6
141                    6.9                3.1                    5.1
142                    5.8                2.7                    5.1
143                    6.8                3.2                    5.9
144                    6.7                3.3                    5.7
145                    6.7                3.0                    5.2
146                    6.3                2.5                    5.0
147                    6.5                3.0                    5.2
148                    6.2                3.4                    5.4
149                    5.9                3.0                    5.1

     largura da petala
0                  0.2
1                  0.2
2                  0.2
3                  0.2
4                  0.2
5                  0.4
6                  0.3
7                  0.2
8                  0.2
9                  0.1
10                 0.2
11                 0.2
12                 0.1
13                 0.1
14                 0.2
15                 0.4
16                 0.4
17                 0.3
18                 0.3
19                 0.3
20                 0.2
21                 0.4
22                 0.2
23                 0.5
24                 0.2
25                 0.2
26                 0.4
27                 0.2
28                 0.2
29                 0.2
..                 ...
120                2.3
121                2.0
122                2.0
123                1.8
124                2.1
125                1.8
126                1.8
127                1.8
128                2.1
129                1.6
130                1.9
131                2.0
132                2.2
133                1.5
134                1.4
135                2.3
136                2.4
137                1.8
138                1.8
139                2.1
140                2.4
141                2.3
142                1.9
143                2.3
144                2.5
145                2.3
146                1.9
147                2.0
148                2.3
149                1.8

[150 rows x 4 columns]>

# Funções de manipulação de dados na situação que existe dados faltando

In [14]:
df = pd.DataFrame([[6, 2, np.nan,3],                   
                   [np.nan, 3, np.nan,8],
                   [np.nan, np.nan, np.nan,np.nan],                   
                   [1, 3, 5,0]],
                   columns=list('ABCD'))
df

     A    B    C    D
0  6.0  2.0  NaN  3.0
1  NaN  3.0  NaN  8.0
2  NaN  NaN  NaN  NaN
3  1.0  3.0  5.0  0.0

##### df.isnull( )
detecta valores que estão faltando, indicando com True quando encontra

In [15]:
df.isnull()

       A      B      C      D
0  False  False   True  False
1   True  False   True  False
2   True   True   True   True
3  False  False  False  False

##### df.isnull( ).sum( )
mostra a soma de valores faltando em cada coluna.

In [16]:
df.isnull().sum()

A    2
B    1
C    3
D    1
dtype: int64

##### Quando existe linhas ou colunas com muitos dados faltando é melhor excluir, por não ter dados suficientes para assumir qualquer informação

##### df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

    - axis representan linha(axis=0) ou colunas(axis=1)
    - how aceita a string "all" para exclui a linha que tenham todos os seu valores igual a NaN ou a string "any" para excluir se achar algum NaN
    - thresh representa o valor mínimo de dados que deseja em uma coluna, se na coluna tiver menos que esse valor ela sera eliminada
    - subset representa a coluna que se deseja analizar        
    
retorna a tabela com espacos omitidos

In [17]:
#nesse exemplo queremos as linhas que tem no mínimo 3 elementos não nulos
df.dropna(thresh=3)

     A    B    C    D
0  6.0  2.0  NaN  3.0
3  1.0  3.0  5.0  0.0

In [18]:
df.dropna(how='all')

     A    B    C    D
0  6.0  2.0  NaN  3.0
1  NaN  3.0  NaN  8.0
3  1.0  3.0  5.0  0.0

In [19]:
df.dropna(how='any')

     A    B    C    D
3  1.0  3.0  5.0  0.0

In [20]:
#nesse exemplo ele retira todas as linhas que na coluna 'C' estão com dados faltando.
df.dropna(subset=['C'])

     A    B    C    D
3  1.0  3.0  5.0  0.0

In [21]:
#retira todas as linhas que tem valores faltando
df.dropna(axis=0)

     A    B    C    D
3  1.0  3.0  5.0  0.0

In [22]:
#retira todas as colunas que tem valores faltando
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

# Funções para manipulação de dados qualitativos

Dados qualitativos são um pouco difíceis de ligar quando se quer testar o desempenho de vários modelos, pois nem todos trabalham bem com strings. Então devemos transformar esses dados em números para que todos os modelos que queiram testar possam trabalhar da melhor forma.

In [23]:
df = pd.DataFrame([['green', 'M', 10.1],
                   ['red', 'L', 13.5],
                   ['blue', 'XL', 15.3]])

df.columns = ['color', 'size', 'price']
df

   color size  price
0  green    M   10.1
1    red    L   13.5
2   blue   XL   15.3

Devemos analisar os dados e verificar qual a melhor forma de converter os dados qualitativos para dados quantitativos. Mesmo que sejam strings, alguns dados tem uma ordem implicita, ou seja, faz diferença o jeito que você ordena eles.

Por exemplo: A coluna size, mostra os tamanho de blusas, sabemos que P M G é a ordem do menor para o maior e que a ordem P G M não faz sentido. Isso é ordem implicita, sabemos que eles representam valores em ordem. Para fazer a conversão sem bagunçar os dados, uma ideia é fazer um mapa manualmente colocando a string e seu valor representativo da sua escolha e depois substituir essas regras na tabela.

##### Substituição de dados qualitativos para dados quantitativos usando mapa feito manualmente
Para fazer a conversão sem bagunçar os dados, uma ideia é fazer um mapa manualmente colocando a string e seu valor representativo da sua escolha e depois substituir essas regras na tabela.

In [24]:
size_mapping = {'XL': 3,
                'L': 2,
                'M': 1}

df['size'] = df['size'].map(size_mapping)
df

   color  size  price
0  green     1   10.1
1    red     2   13.5
2   blue     3   15.3

##### Substituição de dados qualitativos para dados quantitativos usando mapa com enumerate
Para dados que sabemos não ter ordem implicita como por exemplo as cores, que não importa qual cor vem primeiro, podemos simplesmente fazer um mapa com um enumerate e substituir essas regras na tabela

In [25]:
color_mapping = {label: idx for idx, label in enumerate(np.unique(df['color']))}
color_mapping

{'blue': 0, 'green': 1, 'red': 2}

In [26]:
df['color'] = df['color'].map(color_mapping)
df

   color  size  price
0      1     1   10.1
1      2     2   13.5
2      0     3   15.3